@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f9fa;
}
